.app-content{
    text-align: center;
}
.personData-icon{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #EEE;
    display: inline-block;
    margin-top: 50px;
    background: url("../img/4.png");
}
.personData-title{
    font-size: 30px;
    text-align: center;
    color: #4F8BC7;
    margin-top: 15px;
    margin-bottom: 50px;
}

.submitBtn{
    padding: 15px 50px;
    width: 250px;
    line-height: inherit;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    border-radius: 6px;
    background: #70BA4E;
    transition: all 1s;
    cursor: pointer;
}
.submitBtn:hover{
    background: #079712;
}

/**表单**/
.from-data{
    width: 500px;
    margin: 0 auto;
}
.from-item{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.from-item label {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    float: left;
}
.from-item input,button {
    float: left;
    width: 250px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    margin-left: 15px;
    transition: all 1s;
}
.from-item input:hover{
    border: 1px solid #4F8BC7;
}

.from-input {
    float: left;
    width: 250px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    margin-left: 15px;
    transition: all 1s;
}